<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
</head>
<body style="font-family: 'Arial', sans-serif; background-color: #f2f2f2;">

    <h1 style="color: #333333;text-align: center;">{{post.title}}</h1>
    <div>
        <div style="border: 1px solid #999999; padding: 10px; margin: 20px; background-color: #ffffff;">
            <h3 style="color: black;font-size: 12px">{{post.created_at}}</h3>
            <p style="color: #333333;">{{post.body}}</p>
        </div>
    </div>  

</body>
</html>
